body{
    margin: 0;
    padding: 0;
}
main{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    
}
form{
    /* background-color: aqua; */
    height: 500px;
    width: 30%;
    padding: 20px 40px;
    box-sizing: border-box;
    border: 2px solid rgb(184, 182, 182);
    margin-top: 20px;
    
}
img,.ud,a,button{
    display: block;
}
img{
    width: 80%;
    /* padding-left: 30px; */
    margin: auto;
}
input{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(184, 182, 182);
}
button{
    width: 100%;
    height:30px;
    margin-top: 10px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    border: none;
}
hr{
    margin-top: 40px;
}
a{
    text-align: center;
    margin-top: 10px;
    text-decoration:none
}
h4{
    position: absolute;
    top: -100%;
    left: 44%;
    background-color: white;
    padding: 0px 10px;
}
#or-container{
    position: relative;
    height: 30px;
    

}